@import 'border-box.css';
@import 'clearfix.css';
@import 'normalize.css';
@import 'skeleton.css';
@import 'variables.scss';

//target the DOM
body {
  font-size: $base-page-size;
  background: $body-background;
}

.container {
  background: $content-background;
  padding: $font-size-standard;
}

#phone {
  display:none;
}

#tablet {
  display:none;
}

#laptop {
  display:none;
}

// Image properties!!
#palm-fan {
  background-image: url("../assets/palm-fan.jpg");
}
#dota2 {
  background-image: url("../assets/dota-2-logo.jpg");
}

// Media Quesries for responsive design
@media (min-width: $device-phone) {
    .section-img {
      background-position: center;
      background-size: cover;
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
  }
