@font-face {
    font-family: 'Drawvetica';
    src: url('DrawveticaMini-webfont.eot');
    src: url('DrawveticaMini-webfont.eot?#iefix') format('embedded-opentype'),
         url('DrawveticaMini-webfont.woff') format('woff'),
         url('DrawveticaMini-webfont.ttf') format('truetype'),
         url('DrawveticaMini-webfont.svg#DrawveticaMini-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

h1 { font-family: 'Drawvetica'; }
