<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src='/scripts/jquery.js'></script>
    <link rel="stylesheet" href="/style/normalize.css" charset="utf-8">
    <link rel="stylesheet" href="/style/style.css" charset="utf-8">
    <title>Sinatra API</title>
  </head>
  <body>
    <h1>Sinatra API</h1>
    <hr>

    <%= yield %> <!-- ERB loads files.... -->

    <hr>
    <footer> &copy; 2015 Tardis Junkie, SpaceTime License</footer>



  </body>
</html>
